<!--
=================================================
Title: new.ejs
Author: Professor Krasso
Date 19 February 2022
Modified By: Orawan Rabampho
Description: 
=================================================
-->
<!DOCTYPE html>
<html lang="en">

<!-- Include header. -->
<%- include('header'); -%>

<body>
    <!-- Include navbar. -->
    <%- include('navbar'); -%>

    <div class="bg-image d-flex justify-content-center align-items-center" style="background-image: url('https://images.unsplash.com/photo-1518655048521-f130df041f66?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
         height: 100vh;
         background-size: cover;">

    <!--main div to hold all content-->
    <div role="main" class="container" style="width: Auto;">
        <br/><br/>

        <div class="mb-3 h2">
            <h1 style="text-align: center;">Orawan Rabampho's Employee System</h1>
          </div>

        <br>  
        <h2><%= message %></h2>
        <br>  
        <!-- Form to add new employees first and last name. -->
        <form method="post" action="/process">
            <div class="form-group h4">
                <label for="firstName">First Name:</label>
                <input name="firstName" type="text" id="firstName" name="firstName">
            </div>
    
            <div class="form-group h4">
                <label for="lasttName">Last Name:</label>
                <input name="lastName" type="text" id="lastName" name="lastName">
            </div>
            <br>
            <div class="form-group">   

                <!-- CSRF token -->
                <input name="_csrf" value="<%= csrfToken %>" type="hidden">
                <button class="btn btn-dark float-right" type="submit">Submit</button>
            </div>
        </form>
    </a>
    </div>
</div>


<!--include footer-->
<div >
  <%- include ('footer'); -%>
</div>    
</body>
</html>